@import '../common/variables';

.bcs-ReplyButton {
    display: flex;
    align-items: center;

    &:hover {
        .bcs-ReplyButton-icon {
            path {
                fill: $bdl-gray;
            }
        }

        .bcs-ReplyButton-label {
            color: $bdl-gray;
        }
    }
}

.bcs-ReplyButton-icon {
    transform: scale(-1, 1);

    path {
        transition: fill .33s ease;
        fill: $bdl-gray-62;
    }
}

.bcs-ReplyButton-label {
    margin-left: 6px;
    color: $bdl-gray-62;
    font-size: 12px;
    transition: color .33s ease;
}
